.page_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
}
.map_container {
  height: 80vh;
  height: 80svh;
  width: 100vw;
  position: relative;
}

.loading_text {
  font-size: 1.5rem;
  color: var(--clr-dark-color-text);
  font-family: var(--ff-secondary);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 350px;
}
.svg_container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
}

/* Slider */

.slider_container {
  width: 100%;
  height: 20%;
  color: var(--clr-background-dark);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 1rem;
}
.active_city {
  margin: 0rem auto;
  font-size: 1.5rem;
  font-weight: var(--fw-extra-bold);
  font-family: var(--ff-secondary);
}
.timeline_container {
  display: none;
  height: 100%;
}
.mask {
  height: 290px;
  overflow: hidden;
}
.timeline_list {
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.5s ease-in-out;
}

.timeline_item {
  margin-right: 1em;
  font-size: 1rem;
}
.timeline_item .active_item {
  font-size: 1.9rem;
  font-weight: var(--fw-extra-bold);
  opacity: 1 !important;
}

.timeline_item_name {
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  opacity: 0.3;
  transition: opacity 250ms ease-in;
}

.timeline_item_name:hover,
.timeline_item_name:focus {
  opacity: 1;
  cursor: pointer;
}

.year_counter {
  position: absolute;
  top: 1rem;
  left: 2rem;
  margin: 0;
  font-size: 1.5rem;
  max-width: 75px;
  font-weight: var(--fw-extra-bold);
  font-family: var(--ff-secondary);
  color: var(--clr-dark-color-text);
  word-break: break-word;
}
.slider_icon {
  font-size: 1rem;
  color: var(--clr-background-dark);
}

.popup {
  position: absolute;
  background-color: var(--clr-background-light);
  border-radius: 5px;
  padding: 1rem;
  width: 80%;
  max-width: 250px;
  height: auto;
  transform: translateX(-50%);
  border: 2px solid #174538;
}
.popup_text {
  color: var(--clr-dark-color-text);
  margin: 0;
  font-size: 0.65rem;
  font-weight: var(--fw-extra-bold);
}
@media screen and (min-width: 270px) {
  .year_counter {
    max-width: 150px;
  }
}
@media screen and (min-width: 400px) {
  .year_counter,
  .active_city {
    font-size: 1.75rem;
  }
  .year_counter {
    max-width: 100%;
  }
  .popup_text {
    font-size: 0.75rem;
  }
}
@media screen and (min-width: 800px) {
  .year_counter {
    position: initial;
    font-size: 1.9rem;

    margin: 5rem 0 2rem 0;
  }
  .loading_text {
    font-size: 2rem;
  }
  .page_container {
    flex-direction: row;
  }
  .slider_container {
    height: 100vh;
    width: 40vw;
    justify-content: center;
    margin-left: 3rem;
  }

  .map_container {
    height: 100%;
  }
  .timeline_container {
    display: flex;
    align-items: center;
  }
  .active_city {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .timeline_item {
    font-size: 1.1rem;
  }
  .year_counter,
  .timeline_item .active_item {
    font-size: 2.5rem;
  }

  .slider_container {
    width: 30vw;
    margin-left: 0;
  }
  .mask {
    height: 327px;
  }
  .popup_text {
    font-size: 0.9rem;
  }
}
