.img_container {
  text-align: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  /* map scale: 1:8k */
  background-image: url('../resources/img/home/1_8k.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scroll_down_arrow {
  display: block !important;
  font-size: 1.5em;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  animation: moving 2s infinite;
  color: var(--clr-dark-color-text);
}
.scroll_down_arrow_disabled {
  display: none !important;
}
@keyframes moving {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  50% {
    opacity: 0.7;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 0;
    transform: translate(0, 0);
  }
}

.title_picture {
  font-size: 1.4rem;
  font-weight: var(--fw-extra-bold);
  color: var(--clr-dark-color-text);
  font-family: var(--ff-secondary);
  margin-bottom: 0.5em;
}

.title_container {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 220px;
}

.subtitle_list {
  display: flex;
  padding: 0;
  justify-content: space-around;
  color: var(--clr-dark-color-text);
  list-style: none;
  font-weight: var(--fw-extra-bold);
  font-size: 0.4rem;
  text-transform: uppercase;
}
.subtitle {
  padding: 0 0.5em;
  border: 1px solid var(--clr-dark-color-text);
  border-radius: 3em;
}
/* .title_picture_mobile {
  display: none;
  position: initial;
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: var(--fw-reg);
  text-align: center;
  padding: 2em 1em 0 1em;
}
@media screen and (max-width: 446px) {
  .title_picture {
    top: 90%;
    left: 50%;
  }
  .img_container {
    display: none;
  }
  .title_picture_mobile {
    display: block;
  }
} */
@media screen and (min-width: 300px) {
  .title_picture {
    font-size: 1.8rem;
  }
  .title_container {
    max-width: 270px;
  }
  .subtitle_list {
    font-size: 0.48rem;
  }
}
@media screen and (min-width: 400px) {
  .title_picture {
    font-size: 2rem;
  }
  .title_container {
    max-width: 340px;
  }
  .subtitle_list {
    font-size: 0.6rem;
  }
}
@media screen and (min-width: 600px) {
  .title_picture {
    font-size: 2.25rem;
  }
  .title_container {
    max-width: 380px;
  }
  .subtitle_list {
    font-size: 0.7rem;
  }
}
@media screen and (min-width: 800px) {
  .title_picture {
    font-size: 2.7rem;
  }
  .title_container {
    max-width: 430px;
  }
  .subtitle_list {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1100px) {
  .title_picture {
    font-size: 3rem;
  }
  .title_container {
    max-width: 450px;
  }
  .subtitle_list {
    font-size: 0.85rem;
  }
}
@media screen and (min-width: 1200px) {
  .img_container {
    /* map scale: 1:10k */
    background-image: url('../resources/img/home/1_10k.jpg');
    /* background-size: contain; */
  }
}

@media screen and (min-width: 1600px) {
  .img_container {
    /* map scale: 1:15k */
    background-image: url('../resources/img/home/1_15k.jpg');
  }
}
