*,
*::beofre,
*::after {
  box-sizing: border-box;
}

/* Custom Properties*/
:root {
  --ff-primary: 'Lato', sans-serif;
  --ff-secondary: 'Karla', sans-serif;
  --ff-tertiary: 'Source Code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 500;
  --fw-extra-bold: 700;
  /* --fw-extra-extra-bold: 800; */

  --clr-background-light: #fffbf7;
  --clr-background-dark: #174538;
  /* --clr-background-dark: #d7d7d7; */

  --clr-bright-text: #fffbf7;
  --clr-dark-text: #4e4941;
  --clr-dark-color-text: #174538;

  --clr-light-highlight-one: #ddf299;
  --clr-light-highlight-two: #e7dafe;
  --clr-light-highlight-three: #7c33fa;
  --clr-light-highlight-four: #b9e42b;
  /* --clr-project-category: rgb(94, 94, 94); */

  --fs-h1: 3rem;
  --fs-h2: 1.75rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --fs-body-small: 0.9rem;

  --bs: 0.25em 0.25em 0.75em rgba(209, 209, 209, 0.25),
    0.125em 0.125em 0.25em rgba(209, 209, 209, 0.15);
  --bs2: 0.25em 0.25em 0.25em rgba(209, 209, 209, 0.25);
}

@media screen and (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.1rem;
  }
}

/* General styles*/

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  margin: 0;
  background: var(--clr-background-light);
  color: var(--clr-bright-text);
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  font-weight: var(--fw-reg);
  height: 100vh;
  width: 100vw;
}
img {
  display: block;
  max-width: 100%;
}

.inactive {
  filter: blur(4px);
  pointer-events: none;
  opacity: 0.8;
}
.active {
  filter: none;
  pointer-events: all;
  opacity: 1;
}
/* :focus {
  outline: 3px solid 'red';
  outline-offset: 3px;
} */

/*Typography*/

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/*General*/

section {
  padding: 6em 2em;
  max-width: 1100px;
  margin: auto;
}

.section_title {
  font-weight: var(--fw-reg);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-extra-bold);
  color: var(--clr-dark-color-text);
  text-align: center;
  margin-bottom: 0.75em;
}
