.my_interests {
  text-align: center;
  padding-top: 4em;
}
.interest {
  width: 70%;
  margin: 3em auto;
}
.interest_cartography {
  margin-bottom: 0.5em;
}

.interest_web {
  margin-top: 0;
}
.interest_img {
  width: 60px;
  margin: 0 auto 1em auto;
}

.description_container {
  height: 70px;
}
.interest_description {
  margin-bottom: 1.5em;
  font-weight: var(--fw-reg);
  word-wrap: normal;
  line-height: 1.4;
}

@media screen and (min-width: 350px) {
  .interest {
    width: 45%;
  }
  .interest_img {
    width: 80px;
  }
}
@media screen and (min-width: 446px) {
  .my_interests {
    padding-top: 2em !important;
  }

  .interest_img {
    width: 100px;
  }

  .interest_cartography {
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 800px) {
  .interests {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .interest {
    margin: 2em auto;
    width: 33%;
  }
  .interest_description {
    margin-bottom: 0;
    max-width: 200px;
    margin: auto;
  }
}
@media screen and (min-width: 1000px) {
  .interest_img {
    width: 150px;
    margin-bottom: 2em;
  }
}
