.intro_portfolio_item {
  color: var(--clr-dark-color-text);
  max-width: 650px;
}

.project_title {
  font-size: 1.5rem;
  max-width: 500px;
  margin: 0 auto 0.5em auto;
  color: var(--clr-dark-color-text);
}

.project_subtitle_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.project_type,
.project_date {
  font-size: 0.7em;
  padding: 0.25em 0.75em;
  border-radius: 5px;
}
.project_type {
  font-weight: var(--fw-extra-bold);
  text-transform: uppercase;
  margin: 0 1em 0 0;
}
.project_date {
  font-weight: var(--fw-bold);
  margin: 0;
}
.project_type.software_development {
  background-color: var(--clr-light-highlight-one);
}
.project_date.software_development {
  border: 1px solid var(--clr-light-highlight-one);
}
.project_type.static_maps {
  background-color: var(--clr-light-highlight-two);
}
.project_date.static_maps {
  border: 1px solid var(--clr-light-highlight-two);
}
.description {
  color: var(--clr-dark-color-text);
  font-weight: 600;
  text-align: justify;
  font-size: 0.8rem;
  margin: 0 auto 1em auto;
}
.description:last-of-type {
  margin-bottom: 2em;
}
.links {
  list-style: none;
  padding: 0;
}
.online,
.github {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.25rem;
  margin-right: 1em;
  transition: color 0.25s ease-in-out;
}
.icon.software_development {
  color: #d7ec93;
}
.icon.static_maps {
  color: #ddc9ff;
}

.link_description {
  color: var(--clr-dark-color-text);
  font-style: italic;
  font-size: 0.8rem;
}
.link {
  color: var(--clr-dark-color-text);
  text-decoration: none;
  border-bottom: 1px solid var(--clr-dark-color-text);
}

.section_subtitle {
  margin-top: 2em;
  margin-bottom: 1.5em;
  font-weight: var(--fw-extra-bold);
  font-size: var(--fs-h3);
}
.tech_container {
  margin-bottom: 4em;
}
.tech_list {
  display: flex;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}
.tech_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  max-width: 60px;
  margin-right: 1em;
}
.tech_item:last-of-type {
  margin-right: 0;
}
.tech_icon {
  font-size: 1.25rem;
  color: var(--clr-dark-color-text);
}
.tech_name {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  font-weight: var(--fw-bold);
}
.project_picture_container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
}
.project_picture {
  object-fit: contain;
  object-position: center;
  box-shadow: var(--bs);
  margin: 0 auto 2em auto;
  border-radius: 10px;
  width: auto;
  height: auto;
  max-height: 500px;
}
.project_picture_inactive {
  display: none;
}
.picture_placeholder {
  box-shadow: none;
}

/* Carousel */

.picture_container {
  position: relative;
}
.arrow {
  color: var(--clr-dark-color-text);
  width: 10px;
  height: 10px;
  padding: 0.5rem;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}
.arrow.software_development {
  background-color: #d7ec9392;
}
.arrow.software_development:hover,
.arrow.software_development.focus {
  background-color: #d7ec93;
}
.arrow.static_maps {
  background-color: #ddc9ff93;
}
.arrow.static_maps:hover,
.arrow.static_maps.focus {
  background-color: #ddc9ff;
}
.arrow:hover {
  cursor: pointer;
}
.left,
.right {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* display: none; */
}
.left {
  left: 0.5rem;
}
.right {
  right: 0.5rem;
}
.indicator {
  display: flex;
  justify-content: center;
  gap: 0.75rem;
}
.inactive {
  opacity: 0;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: background-color 0.25s ease-in-out;
}
.dot.software_development {
  border: 1px solid #d7ec93;
}
.dot.software_development:hover,
.dot.software_development.focus {
  background-color: #d7ec93;
}
.dot.static_maps {
  border: 1px solid #ddc9ff;
}
.dot.static_maps:hover,
.dot.static_maps.focus {
  background-color: #ddc9ff;
}
.dot:hover {
  cursor: pointer;
}
.active {
  scale: 1.5;
}
.active.software_development {
  background-color: #d7ec93;
}
.active.static_maps {
  background-color: #ddc9ff;
}

@media screen and (min-width: 300px) {
  .intro_portfolio_item {
    padding: 6em 3em;
  }
}
@media screen and (min-width: 400px) {
  .project_title {
    font-size: 1.75rem;
  }
  .arrow {
    width: 15px;
    height: 15px;
  }
}
@media screen and (min-width: 500px) {
  .icon,
  .tech_icon {
    font-size: 1.5rem;
  }
  .tech_name {
    font-size: 0.9rem;
  }
  .tech_item {
    max-width: 70px;
  }
  .description {
    font-size: 0.9rem;
  }
  .link_description {
    font-size: 0.9rem;
  }
  .arrow {
    width: 20px;
    height: 20px;
    padding: 0.5rem;
  }
  .left {
    left: 1rem;
  }
  .right {
    right: 1rem;
  }
}
@media screen and (min-width: 600px) {
  .project_title {
    font-size: 2rem;
  }
}
@media screen and (min-width: 900px) {
  .intro_portfolio_item {
    padding-top: 8em;
    max-width: 1100px;
    width: 100%;
    display: grid;
    grid-template-columns: 3.5fr 3rem minmax(350px, 3fr);
    grid-template-areas:
      'title . img'
      'subtitle . img'
      'about . img'
      'links . img'
      'tech . img'
      'tech_content tech_content img';
  }
  .project_title {
    font-size: 2.5rem;
    grid-area: title;
    text-align: left;
    margin: 0 0 0.5em 0;
    max-width: 100%;
  }
  .project_subtitle_container {
    grid-area: subtitle;
    justify-content: left;
  }
  .project_picture_container {
    grid-area: img;
    max-width: 450px;
  }
  .description_container {
    grid-area: about;
  }
  .links {
    grid-area: links;
  }
  .section_subtitle {
    margin-top: 1em;
    margin-bottom: 0;
    grid-area: tech;
  }
  .tech_container {
    grid-area: tech_content;
    margin-bottom: 0;
  }
  .portfolio_item_online {
    grid-area: online;
  }
  .online_content {
    grid-area: online_content;
  }
  .tech_icon {
    font-size: 2rem;
  }
  .project_type,
  .project_date {
    font-size: 0.75em;
  }
  .icon {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1400px) {
  .intro_portfolio_item {
    max-width: 1300px;
  }
}
